fastapi
uvicorn[standard]
langchain
langchain-community
langchain-chroma
langchain-core
langchain-groq
langchain-ollama
langchain-text-splitters
chromadb
pypdf
python-multipart
python-dotenv
fastembed
